<!DOCTYPE html>
   <head>
      	<title>{{ title }}</title>
	<link rel="stylesheet" href="../static/style.css/">
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
<h3> 
			<a href="/TV/on" class="button">TURN ON</a>  
			<a href="/TV/off"class="button">TURN OFF</a> 
			<a href="/TV/mute"class="button">MUTE</a> 
			<a href="/TV/RPI"class="button">RPI</a> 
			<a href="/TV/tv"class="button">TV</a> 
			<a href="/TV/up"class="button">+</a> 
			<a href="/TV/down"class="button">-</a> 
			</h3>


   </body>
</html>
